/*Demo Styles*/
body {
  margin: 0;
  padding: 2%;
  font-family: brandon, sans-serif;
  text-align: justify;
text-justify: inter-word;
}

@font-face {
  font-family: brandon, sans-serif;
  src: url(brandon.otf);
}

p {
  font-size: 18px;
}

ul {
  margin-left: 10%;
  padding-left: 10%;
}

.under {
  text-decoration: underline;
}


.front {
  width: 78%;
  margin-left: 20%;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.other {
  width: 78%;
  margin-left: 20%;
  margin-top: auto;
margin-right: 1%;
}

.space {
  width: 78%;
margin: auto;
}

.spaceheight {
margin-top: 20%;
}

main img:hover {
  opacity: 0.5;
}

main img {
  margin: .75%;
width: 12%;
}

nav {
  width: 20%;
  margin: 0;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /*float: left;*/
}

.h img {
  margin-top: 3%;
  margin: auto;
  padding-left: 10%;
  width: 78%;
}

.h img:hover {
  opacity: 1.0;
}

.topnav {
  overflow: hidden;
}

.topnav .icon {
  display: none;
}

.topnav img{
  width: 150px;
}


.topnav a {
  padding-top: 5px;
  padding-left: 40px;
  margin-top: 15px;
  margin-left: 0;
  list-style-type: none;
  width: 80%;
  display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
  color: purple;
  font-weight: bold;
}


/*Base Mobile Layout*/
.wrap {
  width: 100%;
  margin: 0 auto;
}

#sidebar-left, #sidebar-right {
  width: 100%;
  float: left;
}
#sidebar-left{
/*  margin: 0;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  padding-top: 10%;
}

/*---------Mobile Layout----------*/
/*3 Column Layout*/
@media only screen and (min-width: 600px) {
  .wrap {
    width: 100%;
    margin: 0 auto;
  }

  #sidebar-left {
    width: 20%;
    float: left;
  }

  #sidebar-right {
    width: 80%;
    float: left;
  }
}

/*Wide Layout*/
@media only screen and (min-width: 1200px) {
  .wrap {
    width: 1140px;
    margin: 0 auto;
  }
}

/*Optional 2 Column Layout*/
@media only screen and (max-width: 600px) {
  #sidebar-left {
    position: relative;
    top: 0;
    left: 0;
  }
  #sidebar-right {
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  /*rotate code for home page on mobile*/
/*whole body home page*/
.f {
  transform: rotate(90deg) scale(1.5);
  transform-origin: 60px 130px;

  width: 100%;
  margin: auto;
}


  .logo {
    transform: rotate(-90deg);
  }

.other {
  width: 100%;
  margin: auto;
}

/*nav minimize on mobile for subpages*/
/*using this example: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav img{
    width: 100px;
  }
}

  @media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 8;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.icon {
  display: none;
}
